<md-content>
	<div flex="auto">
		<h1 class="title" layout="row" layout-align="center center"> Fly like a butterfly</h1>
		<!-- The content area -->
		<div layout="row">
			<!-- The main action happens here -->
			<md-card flex ng-controller="FlightSearchCtrl">
				<md-card-content>
					<!-- The row for the city -->
					<md-content>
						<div layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Origin place</label>
								<input ng-model="info.place">
							</md-input-container>
						</div>
					</md-content>
					<!-- The row for the budget and dates -->
					<div layout>
						<md-input-container flex>
							<md-select placeholder="Set your budget" ng-model="info.maxfare">
								<div ng-repeat="p in prices">
									<md-option value="{{p.value}}">{{p.show}}</md-option>
								</div>
							</md-select>
						</md-input-container>
						<md-input-container flex>
							<label>Start date</label>
							<input type="date" ng-model="info.departuredate">
						</md-input-container>
						<md-input-container flex>
							<label>End date</label>
							<input type="date" ng-model="info.returndate">
						</md-input-container>
					</div>

					<!-- The submit button -->
					<div layout="row" layout-align="center center">
						<md-button class="md-raised md-primary" ng-click="submit()">Search for destinations!</md-button>
					</div>

				</md-card-content>
			</md-card>
		</div>
	</div>
</md-content>
