body, .body {
    background-color: #ccf2ff;
}

#title {
    background-color: #ccf2ff;
}

.color {
    font-family: 'Berkshire Swash', cursive;
    animation-name: rainbow;
    animation-duration: 90s;
    color: #E80C9A;
}

@keyframes rainbow {
    0% {
        color: #D80DFF;
    }
    5% {
        color: #E80C9A;
    }
    10% {
        color: #FF0000;
    }
    15% {
        color: #E8350C;
    }
    20% {
        color: #FF6000;
    }
    25% {
        color: #FFEA01;
    }
    30% {
        color: #67E80B;
    }
    35% {
        color: #01FF5E;
    }
    40% {
        color: #08D9E8;
    }
    45% {
        color: #0C4FFF;
    }
    50% {
        color: #F400FF;
    }
    55% {
        color: #D80DFF;
    }
    60% {
        color: #E80C9A;
    }
    65% {
        color: #FF0000;
    }
    75% {
        color: #E8350C;
    }
    80% {
        color: #FF6000;
    }
    95% {
        color: #FFEA01;
    }
    100% {
        color: #67E80B;
    }
}

.text {
    font-family: 'IM Fell Double Pica', serif;
}

#color {
    background-color: #ff3399
}

#footer {
    background-color: #ccf2ff;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    color: #ff99bb;
}
