<ion-view view-title="Fly like a butterfly">
	<ion-content>
		<md-card ng-controller="FlightSearchCtrl">
			<md-card-content>
				<!-- The row for the city select autocomplete list -->
				<md-content>
					<md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Where are you flying from?">
						<md-item-template>
							<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
						</md-item-template>
						<md-not-found>
							No matches found for "{{ctrl.searchText}}".
						</md-not-found>
					</md-autocomplete>
				</md-content>
				<!-- The row for the budget and dates -->
				<div layout>
					<md-input-container flex>
						<md-select placeholder="Set your budget" ng-model="info.maxfare">
							<div ng-repeat="p in prices">
								<md-option value="{{p.value}}">{{p.show}}</md-option>
							</div>
						</md-select>
					</md-input-container>
				</div>
				<md-content layout-padding ng-cloak>
  				<div layout-gt-xs="row">
    				<div flex-gt-xs>
      				<h4>Flight Date</h4>
      				<md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
    				</div>
					</div>
				</md-content>

				<!-- submit button -->
				<div layout>
					<md-button class="md-raised md-primary" ui-sref="flightResult" ng-click="submit()">Search for destinations!</md-button>
				</div>
			</md-card-content>
		</md-card>
	</ion-content>
</ion-view>
