<ion-view view-title="Fly like a butterfly">
	<ion-content>

  	<h3>Find your wings and fly like a butterfly</h3>
		<div class="list" ng-controller="FlightSearchCtrl">

			<!-- Origin place form -->
			<form name="originPlace">
		  	<label>
		     	Origin place:
		     	<input type="test" name="placeName" ng-model="place.name" placeholder="Place"required>
		  	</label>
				<div role="alert">
      		<span class="error" ng-show="originPlace.placeName.$error.required">
       		Required!</span>
    		</div>
			</form>
			<!-- Budget -->
			<label>Budget:
				<select ng-model="setFare" ng-options="color.name for color in colors"></select>
			</label>
			<br/><br>
			<button class="button button-energized">
				Submit
			</button>

		</div>
	</ion-content>
</ion-view>
